*
h1 {
    color: red;
    text-align: center;
    }
img {
    width: 400px
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: red;
    padding: 50px;
    border: 20px black;
    border-style: ridge;
    margin-left: auto;
    margin-right: auto;
}
#spanId
{
    font-size: 18px;
    height: 100px;
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
      
    
}

body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGUJD0DgCxdTDAbvk6u3gVm25AqOS6Ksnt9Q&usqp=CAU");
    background-size: cover;
}

h3{
    text-align: center;
}

h4{
    text-align: center;
}

a{
    height: 100px;
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;

}